<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2>Homepage</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">

    <!-- Country -->
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Countries</h5></div>
        <div class="ibox-content">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(countries, function (entry) { %>
            <tr>
              <td><%= entry.id %></td>
              <td><%= entry.name %></td>
            </tr>
            <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Cities -->
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Cities</h5></div>
        <div class="ibox-content">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Country</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(cities, function (entry) { %>
            <tr>
              <td><%= entry.id %></td>
              <td><%= entry.name %></td>
              <td><%= entry.country.name %></td>
            </tr>
            <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Companies -->
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Companies</h5></div>
        <div class="ibox-content">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
            </thead>
            <tbody>
                <% _.each(companies, function (company) { %>
                <tr>
                    <td><%= company.id %></td>
                    <td><%= company.name %></td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Associations -->
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Organizations</h5>
        </div>
        <div class="ibox-content">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Capital</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(organizations, function (organization) { %>
            <tr>
              <td><%= organization.id %></td>
              <td><%= organization.name %></td>
              <td><%= organization.capital %> €</td>
            </tr>
            <% }) %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div><!-- end: row -->

  <div class="row">

    <!-- Planes -->
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Planes</h5></div>
        <div class="ibox-content">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Capacity</th>
              <th>Company</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(planes, function (entry) { %>
            <tr>
              <td><%= entry.id %></td>
              <td><%= entry.capacity %></td>
              <td><%= entry.company.name %></td>
            </tr>
            <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Flights -->
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Flights</h5></div>
        <div class="ibox-content">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Company</th>
              <th>Plane</th>
              <th>Type</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(planes, function (entry) { %>
            <tr>
              <td><%= entry.id %></td>
              <td><%= entry.capacity %></td>
              <td><%= entry.company.name %></td>
            </tr>
            <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- Page-Level Scripts -->
<script>


</script>

